apiVersion: apps/v1
kind: Deployment
metadata:
  name: ${CICD_GIT_REPO_NAME}-${CICD_GIT_BRANCH}-es
  namespace: ${CICD_GIT_REPO_NAME}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ${CICD_GIT_REPO_NAME}-${CICD_GIT_BRANCH}-es
  template:
    metadata:
      labels:
        app: ${CICD_GIT_REPO_NAME}-${CICD_GIT_BRANCH}-es
      annotations:
        iiidevops.org/project_name: ${CICD_GIT_REPO_NAME}
        iiidevops.org/branch: ${CICD_GIT_BRANCH}
        iiidevops.org/commit_id: ${CICD_GIT_COMMIT}
        iiidevops.org/type: web-server
    spec:
      imagePullSecrets:
      - name: harbor-local    
      containers:
      - name: ${CICD_GIT_REPO_NAME}-${CICD_GIT_BRANCH}-es
        image: elasticsearch:7.6.0
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 9200
          name: es-tcp-9200
        - containerPort: 9300 #Java API port
          name: es-tcp-9300
        env:
        - name: "discovery.type"
          value: "single-node"
        envFrom:
          - configMapRef:
              name: "${CICD_GIT_REPO_NAME}-${CICD_GIT_BRANCH}-env"
