apiVersion: apps/v1
kind: Deployment
metadata:
  name: ${CICD_GIT_REPO_NAME}-${CICD_GIT_BRANCH}-es
  namespace: ${CICD_GIT_REPO_NAME}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ${CICD_GIT_REPO_NAME}-${CICD_GIT_BRANCH}-es
  template:
    metadata:
      labels:
        app: ${CICD_GIT_REPO_NAME}-${CICD_GIT_BRANCH}-es
      annotations:
        iiidevops.org/project_name: "${CICD_GIT_REPO_NAME}"
        iiidevops.org/branch: "${CICD_GIT_BRANCH}"
        iiidevops.org/commit_id: "${CICD_GIT_COMMIT}"
        iiidevops.org/type: db-server
    spec:
      imagePullSecrets:
      - name: harbor-local
      containers:
      - name: ${CICD_GIT_REPO_NAME}-${CICD_GIT_BRANCH}-es
        image: elasticsearch:7.16.1
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 9200
          name: es-tcp-9200
        - containerPort: 9300 #Java API port
          name: es-tcp-9300
        env:
        - name: "discovery.type"
          value: "single-node"
        - name: "bootstrap.memory_lock"
          value: "true"
        - name: "ES_JAVA_OPTS"
          value: "-Xms256m -Xmx256m"
        - name: "http.cors.enabled"
          value: "true"
        - name: "http.cors.allow-origin"
          value: "*"
        - name: "indices.recovery.max_bytes_per_sec"
          value: "0"
        - name: "refresh_interval"
          value: "30s"
        envFrom:
          - configMapRef:
              name: "${CICD_GIT_REPO_NAME}-${CICD_GIT_BRANCH}-env"
