apiVersion: batch/v1
kind: Job
metadata:
  name: ${CICD_GIT_REPO_NAME}-${CICD_EXECUTION_SEQUENCE}
  namespace: ${CICD_GIT_REPO_NAME}
  annotations:
    iiidevops.org/project_name: "${CICD_GIT_REPO_NAME}"
    iiidevops.org/branch: "${CICD_GIT_BRANCH}"
    iiidevops.org/commit_id: "${CICD_GIT_COMMIT}"
spec:
  ttlSecondsAfterFinished: 60
  template:
    metadata:
      name: ${CICD_GIT_REPO_NAME}-${CICD_EXECUTION_SEQUENCE}
      annotations:
        iiidevops.org/type: import-data
    spec:
      containers:
        - name: elasticsearch-import-${CICD_GIT_COMMIT}-${CICD_EXECUTION_SEQUENCE}
          image: elasticdump/elasticsearch-dump
          imagePullPolicy: IfNotPresent
          # Ref - https://github.com/elasticsearch-dump/elasticsearch-dump
          command: ['sh', '-c', 'ls /mnt; ls /mnt/data; pwd; bash /mnt/import.sh ${CICD_GIT_REPO_NAME} ${CICD_GIT_BRANCH}']
          volumeMounts:
            - mountPath: /mnt
              name: initrepo
      initContainers:
        - name: clone-repo-${CICD_GIT_REPO_NAME}-${CICD_GIT_BRANCH}-${CICD_GIT_COMMIT}-${CICD_EXECUTION_SEQUENCE}
          image: alpine/git
          imagePullPolicy: IfNotPresent
          command:
            - /bin/sh
            - -c
          args:
            - >-
              cd /mnt;
              export se="//";
              export url="${git_url/$se*/$se}${git_username}:${git_token}@${git_url/*$se}";
              git clone --branch ${git_branch} ${url} .;
              rm -rf .git;
              chmod -R 777 .;
          env:
            - name: git_url
              value: ${CICD_GIT_URL}
            - name: git_branch
              value: ${CICD_GIT_BRANCH}
            - name: git_token
              valueFrom:
                secretKeyRef:
                  name: gitlab-bot
                  key: git-token
            # nexus username = gitlab username of BOT to clone
            - name: git_username
              valueFrom:
                secretKeyRef:
                  name: nexus-bot
                  key: username
          volumeMounts:
            - mountPath: /mnt
              name: initrepo
      # 暫時專案資料儲存區
      volumes:
        - name: initrepo
          emptyDir: {}
      restartPolicy: Never
  backoffLimit: 2